.global_filter_container {
    align-items: center;
    background-color: rgba(245, 245, 245, 0.253);
    color: white;
    display: flex;
    height: 3em;
    justify-content: center;
    margin-top: 2em;
    width: 60vw;
} 

.global_filter_container input {
    background-color: rgba(245, 245, 245, 0.616);
    border: none;
    outline: none;
    margin-left: 2em;
    height: 1.5em;
}

/* RESPONSIVE -------------------------------------- */
@media screen and (max-width: 870px) {
    .global_filter_container {
        background-color: transparent;
        margin: 0;
    }
}

@media screen and (max-width: 390px) {
    .flobal_filter_container {
        margin-top: 50em;
        max-width: 40vw;   
    }
}