.characters_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

/* RESPONSIVE -------------------------------------- */
@media screen and (max-width: 870px) {
    .characters_container {
        padding-top: 3em;
    }
}

/* @media screen and (max-width: 600px) {
    .characters_container {
        padding-top: em;
    }
} */