.accordion_container {
    background-color: rgba(245, 245, 245, 0.507);
    border-radius: 3px;
    margin: 2em auto 1em auto;
    padding-bottom: 3em;
    position: relative;
    transition: 0.5s;
    width: 60vw;
}

.accordion_header, .accordion_title {
    align-items: center;
    display: flex;
    justify-content: center;
}

.accordion_header {
    background-color: rgba(0, 0, 0, 0.89);
    border: 1px solid rgba(245, 245, 245, 0.329);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: rgb(255, 230, 0);
    letter-spacing: 10px;
    font-size: 20px;
    height: 4em;
    margin-bottom: 2em;
    text-align: center;
}

.accordion_title {
    color: white;
    cursor: pointer;
    height: 3em;
    justify-content: space-between;
    margin: auto;
    padding: 0 3em;
    transition: all 0.4s;
    width: 80%;
}

.accordion_title:hover {
    background-color: rgba(0, 0, 0, 0.801);
    width: 80%;
}

.accordion_title span, .accordion_header {
    font-weight: 800;
    letter-spacing: 0.2em;
}

.accordion_info {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: auto;
    max-height: 30em;
    transition: all 0.4s;
    width: 80%;
    background-color: rgba(245, 245, 245, 0.349);
    backdrop-filter: blur(5px);
    padding: 0 3rem;
}

.accordion_info_item {
    color: black;
    display: flex;
    height: 2em;
    margin: 0.5em 0 0.5em 3em;
}

.accordion_info_item span {
    color: rgba(0, 0, 0, 0.589);
    letter-spacing: 0.2em;
    font-weight: 700;
    width: 150px;
}

.acordion_link {
    color: rgba(0, 0, 0, 0.651);
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 500;
}

.acordion_link:hover {
    color: rgb(139, 114, 0);
/*     color: rgba(28, 37, 212, 0.795); */
}

/* RESPONSIVE -------------------------------------- */
@media screen and (max-width: 1285px) {
    .accordion_title {
        padding: 0 2em;
    }

    .accordion_info {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 800px) {
    .accordion_title {
        padding: 0 1em;
    }

    .accordion_info {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 700px) {    
    .accordion_info_item {
        margin-left: 1.5em;
    }

    .accordion_show_info {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .accordion_container {
        margin: 2em auto 3em auto;
        width: 70vw;
    }

    .accordion_info_item {
        flex-direction: column;
        height: auto;
        margin-top: 0.5em;
    }

    .accordion_info_item span {
        text-align: left;
    }
}

@media screen and (max-width: 500px) {
    .accordion_container {
        background-color: rgba(0, 0, 0, 0.575);
    }

    .accordion_info {
        padding: 0 0.5rem 1em 1em;
        backdrop-filter: blur(8px);
        background-color: rgba(245, 245, 245, 0.568);
        border-radius: 3px;
    }
}

@media screen and (max-width: 390px) {
    .accordion_title {
        padding: 0 0.5em;
    }

    .accordion_info {
        padding: 0 0.5rem 1em 1em;
        backdrop-filter: blur(8px);
    }

    .accordion_info_item {
        margin: 1em 0 0.5em 2em;
    }

    .accordion_info_item span {
        font-size: 15px;  
        letter-spacing: 0em; 
    }

}
