.accordion_container {
    position: relative;
    width: 60vw;
    margin: 2em auto 1em auto;
    padding-bottom: 3em;
    background-color: rgba(245, 245, 245, 0.671);
}

.accordion_header, .accordion_title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion_header {
    background-color: whitesmoke;
    font-size: 20px;
    height: 6em;
    margin-bottom: 2em;
    text-align: center;
}

.accordion_title {
    color: rgb(71, 61, 2);
    cursor: pointer;
    height: 4em;
    justify-content: space-between;
    margin: auto;
    padding: 0 4em;
    transition: all 0.4s;
    width: 80%;
}

.accordion_title:hover {
    background-color: rgba(255, 255, 255, 0.466);
}

.accordion_title span, .accordion_header {
    font-weight: 800;
    letter-spacing: 0.2em;
}

.accordion_info {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: auto;
    max-height: 30em;
    transition: all 0.4s;
    width: 80%;
}

.accordion_info_item {
    color: black;
    display: flex;
    height: 2em;
    margin-left: 3em;
}

.accordion_info_item span {
    color: rgba(0, 0, 0, 0.589);
    letter-spacing: 0.2em;
    font-weight: 700;
    width: 150px;
}

/* RESPONSIVE -------------------------------------- */
@media screen and (max-width: 700px) {
    .accordion_show_info {
        width: 90%;
    }

    .accordion_info_item {
        margin-left: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    .accordion_container {
        margin: 10em auto 1em auto;
        width: 70vw;
    }

    .accordion_info_item {
        flex-direction: column;
        height: auto;
        margin-top: 0.5em;
        text-align: center;
    }

    .accordion_info_item span {
        text-align: left;
    }
}

@media screen and (max-width: 390px) {
    .accordion_info_item span {
        font-size: 15px;  
        letter-spacing: 0em; 
    }
}
