.table_container {
    background-color: rgba(117, 117, 117, 0.322);
    backdrop-filter: blur(3px);
    height: auto;
    margin: 0 auto;
    position: relative;
    width: 60vw;
    z-index: 3;
    color: white;
    font-weight: 500;
}

.table_div_buttons {
    z-index: 3;
}

.table_div_buttons button {
    background-color: transparent;
    border: 1px solid rgba(245, 245, 245, 0.521);
    color: whitesmoke;
    cursor: pointer;
    font-weight: 600;   
    height: 3em;
    margin: 1em;
    transition: all 0.5s;
    width: 8em;
}

.table_div_buttons button:hover {
    background-color: rgba(245, 245, 245, 0.253);
    color: yellow
}

.table_container thead {
    background-color: rgba(245, 245, 245, 0.87);
    color: rgba(0, 0, 0, 0.849);
    height: 4em;
}

.table_container tr {
    height: 2em;
    text-align: center;
}

.table_container tr:nth-child(even) {
    background-color: rgba(245, 245, 245, 0.753);
    color: black
}

/* RESPONSIVE -------------------------------------- */
@media screen and (max-width: 800px) {
    .table_container {
        background-color: rgba(7, 7, 7, 0.473);
        backdrop-filter: blur(5px);
        color: white;
    }
}


@media screen and (max-width: 700px) {
    .table_div_buttons button {
        background-color: rgba(0, 0, 0, 0.623);
    }

    .table_div_buttons button:hover {
        background-color: whitesmoke;
        color: black;
    }
}