#root {
  max-width: 1280px;
  margin: 0;
}

.films_tilt {
  position: absolute;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.films_tilt svg {
  position: relative;
  z-index: 0;
  display: block;
  width: calc(100% + 1.3px);
  height: 283px;
  transform: rotateY(180deg);
}

.films_tilt_shape {
  fill: #292929;
}

.arturito {
  position: absolute;
  position: fixed;
  bottom: 60px;
  right: 50px;
  display: flex;
  width: 200px;
}